@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway:400,700');

body {
  text-align: center;
  margin: 0;
  font-family: Raleway, sans-serif;
}

h1 {
  color: gold;
  margin-top: 0;
  font-size: 40px;
  font-family: Oswald, sans-serif;
}

button {
  padding: 8px 24px;
  border: 1px solid gray;
  font-size: 12px;
  background-color: forestgreen;
  color: #fff;
}

.Header {
  color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1152887/salamander.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Header h2 {
  color: beige;
  font-weight: normal;
}

.Header img {
  border: 5px solid white;
  border-radius: 50%;
}

.AlbumTitle {
  border-bottom: 3px double;
}

.Main {
  background: silver;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
}

.Main h3 {
  margin-top: 0;
}

.Main .dark {
  margin: 0;
  color: rgb(51,51,100);
}

.SignUpForm input {
  padding: 8px;
  border: 1px solid gray;
  font-size: 12px;
}

.Footer {
  font-size: 12px;
  color: gray;
}

.AttendeeList {
  padding: 0;
  border: 1px solid rgb(238,238,238);
}

li.Attendee {
  text-align: left;
  list-style: none;
  background: white;
  padding: 8px;
  border-top: 1px solid rgb(238,238,238);
}

li.Attendee:first-child {
  border-top: 0;
}
li.Attendee:nth-child(even) {
  background: rgb(246,246,246);
}
li.Attendee:hover {
  background: gold;
}
