.Header {
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1152887/salamander.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .Header h2 {
    color: beige;
    font-weight: normal;
  }
  
  .Header img {
    border: 5px solid white;
    border-radius: 50%;
  }