@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway:400,700');

body {
  text-align: center;
  margin: 0;
  font-family: Raleway, sans-serif;
}

h1 {
  color: gold;
  margin-top: 0;
  font-size: 40px;
  font-family: Oswald, sans-serif;
}

button {
  padding: 8px 24px;
  border: 1px solid gray;
  font-size: 12px;
  background-color: forestgreen;
  color: #fff;
}
